@font-face {
  font-family: "PyeojinGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

.title {
  font-family: "궁서";
  font-style: italic;
  font-weight: bolder;
}

.content1 {
  font-family: "PyeojinGothic";
  word-spacing: 5px;
  letter-spacing: 10px;
  font-weight: bold;
  color: blue;
}

.content2 {
  text-align: center;
  color: #ff000098;
  text-decoration: underline overline line-through;
}

.content3 {
  text-align: center;
  color: #ff0000;
  text-decoration: underline overline line-through;
  font-weight: bold;
}
