@font-face {
  font-family: "PyeojinGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}
* {
  font-family: "PyeojinGothic";
}
body {
}
.컨테이너 {
  margin: 0 auto;
  width: 300px;
  height: 280px;
  text-align: center;
  box-shadow: 0px 3px 10px pink;
  border-radius: 12px;
  padding-top: 20px;
}

.아이디,
.비밀번호 {
  margin: 0 auto;
  display: flex;
  padding: 10px;
  border-radius: 11px;
  border: solid 1px #7f7f7f;
  font-size: 14px;
  font-weight: 300;
}

.로그인버튼 {
  border: solid 1px #000;
  border-radius: 9px;
  padding: 7px 18px;
  background-color: blue;
  color: #fff;
  font-size: 13px;
}

.회원가입 {
  margin-top: 20px;
  font-size: 13px;
  font-weight: bold;
}

.링크 {
  color: blue;
  margin-left: 3px;
}

h2 {
  font-weight: 900;
  font-family: "Arial", sans-serif;
}
